* {
    box-sizing: border-box;
  }
  
.body1 {

    display: flex;
    flex-direction: column;
    align-items: center;
     
}


.movie-screen{
  
  background-color: #fff;
  height: 120px;
  width: 500px;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  
}

.movie-seats{
    column-count: 3;
    column-gap: 50px;
    
}

.row {
    display: flex;
    margin: auto;
    width: auto;
    height: 60px;
    
}


.seat {
    height: 25px;
    width: 15px;
    background-color: #da1083;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.seat.selected {
    background-color: white;
}



.seat.occupied {
    background-color: #6e6e6e;
}



.movie-seats .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
    background-color: white;
}

.showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  .showcase li small {
    margin-left: 2px;
  }

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.text{
  margin-top: 50px;
}





/* ---------------------------------------------------------------------------- */

