{% extends 'reserve/base.html' %}
{% load static %}


{% block head %}


<title>Ant-Man and the Wasp: Quantumania</title>
<link href="{%  static 'reserve/bookstyle.css' %}" rel="stylesheet">

{% endblock %}

{% block my_block %}
<div class="rowb">
  <div class="columnb leftb">
    
    <img src="https://assets.voxcinemas.com/posters/P_HO00009436.jpg" >
  </div>
  
  <div class="columnb rightb">
    <h1>Ant-Man and the Wasp: Quantumania</h1>
    <br>
    <hr class="line">
    <br>
    <br>
    
    <!-- movie specifications -->
    <ul>
      <li>Genre: Action</li>
      <li>Running Time: 125 min</li>
      <li>Release Date: 15 February 2023</li>
      <li>Starring: Paul Rudd, Evangeline Lilly, Jonathan Majors</li>
      <li>Language: English</li>
    </ul>
    <br>
    <br>
    <br>
    <!-- Description-->
    <p>Scott Lang and Hope Van Dyne, along with Hank Pym and Janet Van Dyne, explore the Quantum Realm, where they interact with strange creatures and embark on an adventure that goes beyond the limits of what they thought was possible. </p>
    <br>
    <h1>Showtimes</h1>
    <br>
    <hr class="line">
  <br>
  
    <!-- choose the time u want -->
    <a href="{%url 'seats' %}" class="btns">3:15 pm</a>
    <a href="{%url 'seats' %}" class="btns">5:30 pm</a>
    <a href="{%url 'seats' %}" class="btns">7:45 pm</a>
    <a href="{%url 'seats' %}" class="btns">9:30 pm</a>
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5WfTEZJnv_8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
  </div>
  
</div>
{% endblock %}




