{% extends 'reserve/base.html' %}
{% load static %}


{% block head %}


<title>Avatar: The Way of Water</title>
<link href="{%  static 'reserve/bookstyle.css' %}" rel="stylesheet">

{% endblock %}

{% block my_block %}
<div class="rowb">
  <div class="columnb leftb">
    
    <img src="https://assets.voxcinemas.com/posters/P_HO00009130.jpg" >
  </div>
  
  <div class="columnb rightb">
    <h1>Avatar: The Way of Water</h1>
    <br>
    <hr class="line">
    <br>
    <br>
    
    <!-- movie specifications -->
    <ul>
      <li>Genre: Action</li>
      <li>Running Time: 195 min</li>
      <li>Release Date: 14 December 2022</li>
      <li>Starring: Zoe Saldana, Sam Worthington, Michelle Yeoh</li>
      <li>Language: English</li>
    </ul>
    <br>
    <br>
    <br>
    <!-- Description -->
    <p>Jake Sully lives with his newfound family formed on the planet of Pandora. Once a familiar threat returns to finish what was previously started, Jake must work with Neytiri and the army of the Na'vi race to protect their planet.</p>
    <br>
    <h1>Showtimes</h1>
    <br>
    <hr class="line">
  <br>
  
    <!-- choose the time u want-->
    <a href="{%url 'seats' %}" class="btns">3:15 pm</a>
    <a href="{%url 'seats' %}" class="btns">5:30 pm</a>
    <a href="{%url 'seats' %}" class="btns">7:45 pm</a>
    <a href="{%url 'seats' %}" class="btns">9:30 pm</a>
    <br>
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/d9MyW72ELq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>    
  </div>
  
</div>
{% endblock %}




