{% load static %}

<!DOCTYPE html>
<html>
    <head>
      <link rel="icon" type="image/x-icon" href="{%  static 'reserve/favicon.png' %}">
      <title>Login</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{%  static 'reserve/Login.css' %}" rel="stylesheet">
    </head>
<body>
  
  
    
  <video id="myvideo" playsinline autoplay loop>
    <source src="https://player.vimeo.com/external/553309525.sd.mp4?s=442ec7c36d0a3e834b294625875800d1cc13790c&profile_id=164&oauth2_token_id=57447761">
    Your browser does not support the video tag.
  </video>
  
 <h3 class="login-title">Welcome</h3>
  <div class="header">
   <form method="POST">
    {% csrf_token %}
          <div class="input-group">
            <label>Email</label>
            <input name="email" type="email" />
          </div>
          <div class="input-group">
            <label>Password</label>
            <input name="password" type="password" />
          </div>
          <button type="submit" class="login-button">Sign In</button>
          <a href="{%url 'customers-create' %}" class="Register-button">Register</a>
          <h4 style="color:red; text-align: center; z-index: 2; border-radius: 15px;">{{msg}}</h4>
        </form>

        
  </div>
</div>
  
  </body>